body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: darkgray
}


.count {
	font-size: 4em;
	padding: 0.1em;
	border: 2px solid;
	background-color: orchid;
	border-radius: 0.1em;
}

.section {
	flex: 1;
	background-color: steelblue;
	padding: 2em;
	margin: 1em;
	border-radius: 0.5em;
}


.alert{
border: hotpink, solid, 9px;
/* padding: 0.8em; */
background-color:rgb(228, 48, 48);
margin: 0.6em;
width: 1em;
height: 1em;
text-align: center;
}

.div{
margin: 2em;

}
button {
	padding: 1em;
	border-radius: 0.5em;
	font-weight: bold;
}

@media (min-width: 768px) {
	.sections {
		display: flex;
	}
}